﻿
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">

            <div class="form-group">
                <label>Convert From: </label>
                <select data-ng-model="currencyFrom" class="form-control">
                    <option data-ng-repeat="from in currencies" value="{{from}}">{{from}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Convert To: </label>
                <select data-ng-model="currencyTo" class="form-control">
                    <option data-ng-repeat="to in currencies" value="{{to}}">{{to}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Amount: </label>
                <input type="text" data-ng-model="amount" class="form-control" />
            </div>
            <div>
                <input type="button" value="Convert" class="btn btn-default" data-ng-click="convert()" />
            </div>
            <br />
            <br />
            <div class="alert alert-success">
                <strong data-ng-bind="conversionResult"></strong>
            </div>
        </div>
    </div>
</div>
