﻿

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-3">
            <h3><u>Most Stable</u></h3>
            <strong>
                <span data-ng-repeat="currency in mostStableCurrencies">
                    {{currency.key}}
                </span>
            </strong>
        </div>
        <div class="col-lg-3">
            <h3><u>Most Unstable</u></h3>
            <strong>
                <span data-ng-repeat="currency in mostUnstableCurrencies">
                    {{currency.key}}
                </span>
            </strong>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <select data-ng-model="selectedCurrency" class="form-control">
                    <option data-ng-repeat="from in currencies" value="{{from}}">{{from}}</option>
                </select>

            </div>
        </div>
        <div class="col-lg-1"><input type="button" value="Add Currency" class="btn btn-default" data-ng-click="addCurrency()" /></div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-11">
            <h1>Currencies Report</h1>
            <rickshaw rickshaw-options="chartSettings.options"
                      rickshaw-features="chartSettings.features"
                      rickshaw-series="series">
            </rickshaw>
        </div>
    </div>
</div>